<a href="https://colab.research.google.com/github/Laiba123-bit/NAVTTC/blob/main/NAVTTC_week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
class Dog:
 def sound(self):
  print("Bark")
class Cat:
 def sound(self):
  print("Meow")
class crow:
  def sound(self):
    print("crow")
animals = [Dog(), Cat(),crow()]
for a in animals:
 a.sound()

Bark
Meow
crow

In [17]:
class Number:
 def __init__(self, value):
  self.value = value
 def __add__(self, other):
  return Number(self.value + other.value)
 def __str__(self):
  return str(self.value)
 def show(self):
  print(self.value)
n1 = Number(10)
n2 = Number(20)
print(n1 - n2)
Number.show(n1)
Number.show(n2)

TypeError: unsupported operand type(s) for -: 'Number' and 'Number'

In [11]:
class Number:
 def __init__(self, value):
  self.value = value
 def __add__(self, other):
   self.value = self.value + other.value
   return self
 def __str__(self):
  return str(self.value)
 def show(self):
  print(self.value)
n1 = Number(10)
n2 = Number(20)
print(n1 + n2)
Number.show(n1)
Number.show(n2)

30
30
20

In [13]:
class Number:
 def __init__(self, value):
  self.value = value
 def __sub__(self, other):
   self.value = self.value - other.value
   return self
 def __str__(self):
  return str(self.value)
 def show(self):
  print(self.value)
n1 = Number(10)
n2 = Number(20)
print(n2 - n1)
Number.show(n1)
Number.show(n2)

10
10
10

In [ ]:
class Number:
 def __init__(self, value):
  self.value = value
 def __add__(self, other):
   self.value = self.value + other.value
   return self
 def __str__(self):
  return str(self.value)
 def show(self):
  print(self.value)
n1 = Number(10)
n2 = Number(20)
print(n1 + n2)
Number.show(n1)
Number.show(n2)

In [14]:
class Number:
 def __init__(self, value):
  self.value = value
 def __mul__(self, other):
   self.value = self.value * other.value
   return self
 def __str__(self):
  return str(self.value)
 def show(self):
  print(self.value)
n1 = Number(10)
n2 = Number(20)
print(n1 * n2)
Number.show(n1)
Number.show(n2)

200
200
20

In [15]:
class Number:
 def __init__(self, value):
  self.value = value
 def __truediv__(self, other):
   self.value = self.value / other.value
   return self
 def __str__(self):
  return str(self.value)
 def show(self):
  print(self.value)
n1 = Number(10)
n2 = Number(20)
print(n1 / n2)
Number.show(n1)
Number.show(n2)

0.5
0.5
20

In [18]:
class student:
  def __init__(self,name):
    self.name = name
  def __str__(self):
    return f"student name is {self.name}"
  def __len__(self):
    return len(self.name)
s = student("Ali")
print(s)
print(len(s))

student name is Ali
3

In [24]:
class Number:
 def __init__(self, value):
  self.value = value
 def __add__(self, other):
  return Number(self.value + other.value)
 def __sub__(self, other):
  return Number(self.value - other.value)
 def __mul__(self, other):
  return Number(self.value * other.value)
 def __truediv__(self, other):
  return Number(self.value / other.value)
 def __mod__(self, other):
   return Number(self.value % other.value)
   return self
 def __str__(self):
  return str(self.value)
 def show(self):
  print(self.value)
n1 = Number(7)
n2 = Number(2)
print('Number one is :')
Number.show(n1)
print('Number two is :')
Number.show(n2)
print('Mod is : ')
print(n1 % n2)
print('Addition is : ')
print (n1 + n2)
print('Subtraction is : ')
print (n1 - n2)
print('Multiplication is : ')
print (n1 * n2)
print('Division is : ')
print (n1 / n2)

Number one is :
7
Number two is :
2
Mod is :
1
Addition is :
9
Subtraction is :
5
Multiplication is :
14
Division is :
3.5